@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.alert-enter {
  opacity: 0;
}

.alert-enter-active {
  opacity: 1;
  animation-fill-mode: both;
  animation-duration: 150ms;
  animation-name: slideInDown;
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
