@import url("https://unpkg.com/@stoplight/elements@7.5.20/styles.min.css");

/* Styles for @stoplight/elements */

.sl-elements {
    --fs-paragraph: 18px !important;
    --fs-code: 13px !important;
    /* Reset padding for pre tags inside sl-elements */
    --ifm-pre-padding: 0;
}

.sl-elements .OperationParametersContent {
    max-height: max-content;
}

.sl-code-viewer__scroller {
    max-height: initial !important;
}

.sl-elements a {
    color: inherit !important;
}

.sl-overflow-x-hidden.sl-overflow-y-auto.sl-flex-1.sl-w-full.sl-px-24.sl-bg-canvas {
    background-color: #fff;
}

.HttpOperation__Parameters .sl-flex-1,
.JsonSchemaViewer .sl-flex-1 {
    flex: none;
}

.sl-panel__titlebar .sl-h-lg {
    height: auto;
    padding: 12px 0;
}

.ElementsTableOfContentsItem>div {
    border-radius: 4px 0 0 4px;
    border-right: 2px solid transparent;
}

.ElementsTableOfContentsItem .sl-bg-primary-tint {
    border-right: 2px solid var(--ifm-color-primary);
    color: var(--ifm-color-primary);
    background: rgba(33, 96, 253, 0.16);
}

.sl-elements {
    scrollbar-width: thin;
}


.sl-elements .token.punctuation {
    color: #b4b4b4
}

.sl-elements .token.operator {
    color: #b4b4b4
}

.sl-elements .token.property {
    color: var(--ifm-link-color);
}

.sl-elements .token.string {
    color: #fff;
}

.sl-elements .token.function {
    color: #b4b4b4;
}